<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616611076821-rgu9ga0hejthhce1nbuivlnh6g51c93e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616611076821-rgu9ga0hejthhce1nbuivlnh6g51c93e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>616611076821-h8it5oj56sbklh9pvnivlk9vtuvobpp9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDwQDlQpHl0AGSwLjx6MtuVbKLFHQmE0-8</string>
	<key>GCM_SENDER_ID</key>
	<string>616611076821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.brockschmidt.famka</string>
	<key>PROJECT_ID</key>
	<string>famka-app-free-storage</string>
	<key>STORAGE_BUCKET</key>
	<string>famka-app-free-storage.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616611076821:ios:9e2e2f16ded0c576cfe05c</string>
</dict>
</plist>